.playBody {
  background-color: #00cc66;
  width: 100%;
  height: 100%;
}

#main {
  background-color: #00cc66;
  transition: margin-left 0.5s;
  padding: 20px;
  color: white;
  height: 100%;
  width: 100%;
}
#main p {
  margin: 20px;
  font-size: 18px;
}
#main h1, #main h2 {
  color: white;
  text-align: center;
}
#main .playMenu {
  text-align: center;
}
#main .playBox {
  margin: 10px;
  padding: 50px;
  background-color: #00994d;
  border-radius: 15px;
  border-color: #008040;
  border-style: solid;
  border-width: 5px;
  transition: 0.2s;
  min-width: 230px;
}
#main .playBox:hover {
  background-color: #00cc66;
  border-color: #00994d;
  cursor: pointer;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #00994d;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  /* The navigation menu links */
  /* When you mouse over the navigation links, change their color */
  /* Position and style the close button (top right corner) */
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #00cc66;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.topnav {
  width: 100%;
  background-color: #008040;
}
.topnav .container {
  width: 100%;
  padding: 10px;
  text-align: center;
}
.topnav a {
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  width: 100%;
}
.topnav a:hover {
  color: #00cc66;
}

.openNav {
  text-align: center;
  margin: 0px 10px 0px 10px;
}
.openNav p {
  font-size: 24px;
  color: white;
  transition: 0.3s;
  font-weight: bold;
}
.openNav p:hover {
  cursor: pointer;
  color: #00994d;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
.login {
  margin: 50px auto;
  width: 50%;
  background-color: #00994d;
  border-radius: 15px;
  border-width: 2px;
  border-color: #008040;
  border-style: solid;
  padding: 20px 40px 20px 20px;
  color: white;
  text-align: center;
  min-width: 350px;
}
.login .container {
  width: 100%;
}
.login p {
  margin: 20px;
  font-size: 18px;
}
.login input[type=text], .login input[type=password] {
  width: 100%;
  height: 30px;
  margin: 20px;
  color: black;
  padding: 0px 10px;
  text-align: center;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #008040;
  background-color: #00cc66;
}
.login input[type=button] {
  width: 100%;
  height: 30px;
  margin: 20px;
  color: white;
  background-color: #00cc66;
  padding: 0px 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  border-style: none;
  transition: 0.2s;
}
.login input[type=button]:hover {
  background-color: #008040;
}
.login img {
  margin: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 5px 5px 2px #008040;
}
.login img:hover {
  cursor: pointer;
}

body {
  background-color: #00cc66;
}

.createPartyBody {
  background-color: #00cc66;
  width: 100%;
  height: 100%;
}

#main {
  background-color: #00cc66;
  transition: margin-left 0.5s;
  padding: 20px;
  color: white;
  height: 100%;
  width: 100%;
}
#main p {
  margin: 20px;
  font-size: 18px;
}
#main h1, #main h2 {
  color: white;
  text-align: center;
}
#main .addChallengers {
  margin: 0 auto;
  text-align: center;
  background-color: #00994d;
  border-radius: 5px;
}
#main .addChallengers input[type=text] {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  padding: 20px;
  border: none;
  width: 100%;
  font-size: 20px;
}
#main .addChallengers .addChallengerBtn h6 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #00cc66;
  font-size: 36px;
  right: 20px;
  transition: 0.2s;
}
#main .addChallengers .addChallengerBtn h6:hover {
  background-color: #008040;
  cursor: pointer;
}

/*# sourceMappingURL=myStyle.css.map */
