.playBody {
  background-color: #00cc66;
  width: 100%;
  height: 100%;
}

#main {
  background-color: #00cc66;
  transition: margin-left 0.5s;
  padding: 20px;
  color: white;
  height: 100%;
  width: 100%;
}
#main p {
  margin: 20px;
  font-size: 18px;
}
#main h1, #main h2 {
  color: white;
  text-align: center;
}
#main .playMenu {
  text-align: center;
}
#main .playBox {
  margin: 10px;
  padding: 50px;
  background-color: #00994d;
  border-radius: 15px;
  border-color: #008040;
  border-style: solid;
  border-width: 5px;
  transition: 0.2s;
  min-width: 150px;
}
#main .playBox:hover {
  background-color: #00cc66;
  border-color: #00994d;
  cursor: pointer;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #00994d;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  /* The navigation menu links */
  /* When you mouse over the navigation links, change their color */
  /* Position and style the close button (top right corner) */
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #00cc66;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.topnav {
  width: 100%;
  background-color: #008040;
}
.topnav .container {
  width: 100%;
  padding: 10px 0px 10px 0px;
  text-align: center;
}
.topnav .row {
  padding: 0px;
}
.topnav a {
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  width: 100%;
}
.topnav a:hover {
  color: #00cc66;
}

.openNav {
  text-align: center;
  min-width: 100%;
}
.openNav p {
  font-size: 24px;
  color: white;
  transition: 0.3s;
  font-weight: bold;
}
.openNav p:hover {
  cursor: pointer;
  color: #00994d;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
.login {
  margin: 50px auto;
  width: 50%;
  background-color: #00994d;
  border-radius: 15px;
  border-width: 2px;
  border-color: #008040;
  border-style: solid;
  padding: 20px 40px 20px 20px;
  color: white;
  text-align: center;
  min-width: 350px;
}
.login .container {
  width: 100%;
}
.login p {
  margin: 20px;
  font-size: 18px;
}
.login input[type=text], .login input[type=password] {
  width: 100%;
  height: 30px;
  margin: 20px;
  color: black;
  padding: 0px 10px;
  text-align: center;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #008040;
  background-color: #00cc66;
}
.login input[type=button] {
  width: 100%;
  height: 30px;
  margin: 20px;
  color: white;
  background-color: #00cc66;
  padding: 0px 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  border-style: none;
  transition: 0.2s;
}
.login input[type=button]:hover {
  background-color: #008040;
}
.login img {
  margin: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 1px 5px #008040;
}
.login img:hover {
  margin-top: 12px;
  cursor: pointer;
  box-shadow: none;
}

body {
  background-color: #00cc66;
}

.createPartyBody {
  background-color: #00cc66;
  width: 100%;
  height: 100%;
}
.createPartyBody #main {
  background-color: #00cc66;
  transition: margin-left 0.5s;
  padding: 20px;
  color: white;
  height: 100%;
  width: 100%;
}
.createPartyBody #main p {
  margin: 20px;
  font-size: 18px;
}
.createPartyBody #main h1, .createPartyBody #main h2 {
  color: white;
  text-align: center;
}
.createPartyBody #main .inputChallenger {
  width: 100%;
}
.createPartyBody #main .addChallengers {
  margin: 0 auto;
  text-align: center;
  background-color: #00994d;
  border-radius: 5px;
}
.createPartyBody #main .addChallengers input[type=text] {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  padding: 20px;
  border: none;
  width: 100%;
  font-size: 20px;
  text-align: center;
}
.createPartyBody #main .addChallengers .addChallengerBtn {
  right: 100px;
}
.createPartyBody #main .addChallengers .addChallengerBtn h6 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #00cc66;
  font-size: 36px;
  transition: 0.2s;
}
.createPartyBody #main .addChallengers .addChallengerBtn h6:hover {
  background-color: #008040;
  cursor: pointer;
}
.createPartyBody #main input[type=button] {
  height: 30px;
  margin: 20px;
  color: white;
  background-color: #008040;
  padding: 0px 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  border-style: none;
  transition: 0.2s;
  right: 20px;
  bottom: 20px;
  position: absolute;
  width: 100px;
  height: 50px;
}
.createPartyBody #main input[type=button]:hover {
  background-color: #00994d;
}
.createPartyBody #main .teamOptions {
  margin: 10px;
  padding: 50px;
  background-color: #00994d;
  border-radius: 15px;
  border-color: #008040;
  border-style: solid;
  border-width: 5px;
  transition: 0.2s;
  min-width: 150px;
  margin: 50 auto;
  width: 75%;
}
.createPartyBody #main .teamOptions .container {
  width: 100%;
}
.createPartyBody #main .teamOptions p {
  width: 100%;
  text-align: right;
}
.createPartyBody #main .teamOptions input[type=number] {
  background-color: rgba(0, 0, 0, 0);
  width: 300px;
  padding: 20px;
  border: none;
  width: 100%;
  font-size: 20px;
  text-align: center;
}
.createPartyBody #main .teamOptions input::-webkit-outer-spin-button,
.createPartyBody #main .teamOptions input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.FriendBox {
  margin: 10px;
  padding: 50px;
  background-color: #00994d;
  border-radius: 15px;
  border-color: #008040;
  border-style: solid;
  border-width: 5px;
  transition: 0.2s;
  min-width: 150px;
  padding: 20px !important;
}
.FriendBox h4 {
  font-size: 32px;
}
.FriendBox img {
  transition: 0.2s;
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.FriendBox img:hover {
  background-color: #00cc66;
  border-color: #00994d;
  cursor: pointer;
}
.FriendBox .userPhoto, .FriendBox .userPhoto :hover {
  background-color: #008040;
  border-radius: 15px;
  padding: 5px;
  width: 150px;
  height: 150px;
}

.searchFriendText input[type=text] {
  font-size: 24px;
  padding: 15px;
  background-color: #008040;
  border: none;
  border-radius: 15px;
  width: 100%;
  transition: 0.2s;
}
.searchFriendText input[type=text]:focus {
  background-color: #00994d;
}

.searchFriendBtn input[type=button] {
  text-align: center;
  padding: 20px;
  background-color: #008040;
  border: none;
  border-radius: 15px;
  width: 100%;
  transition: 0.2s;
}
.searchFriendBtn input[type=button]:hover {
  background-color: #00994d;
}

.stats {
  text-align: center;
}
.stats .level,
.stats .GamesPlayed,
.stats .WinLossRatio,
.stats .Accuracy {
  padding: 10px !important;
  min-height: 180px;
  min-width: 350px;
  margin: 10px;
  padding: 50px;
  background-color: #00994d;
  border-radius: 15px;
  border-color: #008040;
  border-style: solid;
  border-width: 5px;
  transition: 0.2s;
  min-width: 150px;
  margin: 5px;
}
.stats .level:hover,
.stats .GamesPlayed:hover,
.stats .WinLossRatio:hover,
.stats .Accuracy:hover {
  background-color: #00cc66;
  border-color: #00994d;
  cursor: pointer;
}
.stats img {
  margin-top: 10px;
  width: 25%;
}

#main .profileInfo {
  margin: 10px;
  padding: 50px;
  background-color: #00994d;
  border-radius: 15px;
  border-color: #008040;
  border-style: solid;
  border-width: 5px;
  transition: 0.2s;
  min-width: 150px;
  margin: 0 auto;
  width: 70%;
  min-width: 300px;
}
#main .profileInfo h2 {
  padding: 20px;
  text-align: center;
}
#main .photo {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 10px;
  padding: 50px;
  background-color: #00994d;
  border-radius: 15px;
  border-color: #008040;
  border-style: solid;
  border-width: 5px;
  transition: 0.2s;
  min-width: 150px;
  margin: 0 auto;
  border-color: #00cc66;
}
#main .photo img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#main .profieData .dataButton {
  margin: 10px;
  padding: 50px;
  background-color: #00994d;
  border-radius: 15px;
  border-color: #008040;
  border-style: solid;
  border-width: 5px;
  transition: 0.2s;
  min-width: 150px;
  text-align: center;
}
#main .profieData .dataButton:hover {
  background-color: #00cc66;
  border-color: #00994d;
  cursor: pointer;
}

/*# sourceMappingURL=myStyle.css.map */
