$blue: #66ccff;
$blueD1: darken($blue,10);
$blueD2: darken($blueD1,10);
$blueD3: darken($blueD2,10);
$blueD4: darken($blueD3,10);

$red: #ff5050;
$redD1: darken($red,10);
$redD2: darken($redD1,10);
$redD3: darken($redD2,10);
$redD4: darken($redD3,10);
