.registroServicio{
  padding: 20px;
  background-color: $blue;
  color: white;
  h1{
    text-align: center;
  }

  .row{
    @include row;

    div{
      width: 40%;
      margin: 0 auto;
    }

    p{
      @include normalP;
    }

    select{
      @include normalInput;
    }
    select:focus{
      @include normalInputOnFocus;
    }
  }
  .noBackground{
    background: none;
  }
}
