<div class="registroServicio">
  <h1>
    Registro de Servicio
  </h1>

  <div class="formServicio">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <p>Cliente:</p>
        </div>
        <div class="col-xs-6">
          <select class="selectCliente" name="">

          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <p>Coche:</p>
        </div>
        <div class="col-xs-6">
          <select class="selectCoche" name="">

          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <p>Servicio:</p>
        </div>
        <div class="col-xs-6">
          <select class="selectServicio" name="">
            <option value="Mantenimiento">Mantenimiento</option>
          </select>
        </div>
      </div>

    </div>

  <input type="button" name="agregarServicio" value="Agregar" onclick="agregarServicio()">
</div>


</div>
