.login{

  margin: 50px auto;
  width: 50%;
  background-color:$greenDark1;
  border-radius: 15px;
  border-width: 2px;
  border-color: $greenDark2;
  border-style: solid;
  padding: 20px 40px 20px 20px;
  color:$white;
  text-align: center;
  min-width: 350px;

  .container{
    width: 100%;
  }

  p{
    margin: 20px;
    font-size: 18px;
  }
  
  input[type="text"],input[type="password"]{
    width: 100%;
    height: 30px;
    margin: 20px;
    color: black;
    @include inputText;
    background-color: $greenMain;
  }
  input[type="button"]{
    @include normalButton;
  }
  input[type="button"]:hover{
    @include normalButtonHover;
  }
  img{
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius:50%;
    box-shadow: 5px 5px 2px $greenDark2;

  }
  img:hover{
    cursor: pointer;
  }
}

body{
  background-color: $greenMain;
}
