.playBody{
  @include body;
}

#main{
  @include main;


  h1,h2{
    color: $white;
    text-align: center;
  }

  .playMenu{
    text-align: center;
  }
  .playBox{
    @include squareButton;

  }
  .playBox:hover{
    @include squareButtonHover;
  }
}
