.stats{
  text-align: center;

  .level,
  .GamesPlayed,
  .WinLossRatio,
  .Accuracy {
    padding: 10px !important;
    min-height: 180px;
    min-width: 350px;
    @include squareButton;
    margin: 5px;
  }

  .level:hover,
  .GamesPlayed:hover,
  .WinLossRatio:hover,
  .Accuracy:hover{
    @include squareButtonHover;
  }

  img{
    margin-top: 10px;
    width: 25%;
  }
}
