<div class="registroCliente">
  <h1>
    Registro de Cliente
  </h1>

  <div class="formCliente">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <p>Nombre:</p>
        </div>
        <div class="col-xs-6">
          <input type="text" name="nombre" value="">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <p>Domicilio:</p>
        </div>
        <div class="col-xs-6">
          <input type="text" name="domicilio" value="">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <p>Telefono</p>
        </div>
        <div class="col-xs-6">
          <input type="number" name="telefono" value="">
        </div>
      </div>
    </div>

    <input type="button" name="agregarCliente" value="Agregar" onclick="agregarCliente()">
  </div>

</div>
