<div class="registroVehiculo">
  <h1>
    Registro de Vehículo
  </h1>

  <div class="formVehiculo">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <p>Marca:</p>
        </div>
        <div class="col-xs-6">
          <input type="text" name="marca" value="">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <p>Modelo:</p>
        </div>
        <div class="col-xs-6">
          <input type="text" name="modelo" value="">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <p>Año:</p>
        </div>
        <div class="col-xs-6">
          <input type="number" name="año" value="">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <p># de Placa:</p>
        </div>
        <div class="col-xs-6">
          <input type="text" name="placa" value="">
        </div>
      </div>
    </div>

    <input type="button" name="agregarVehiculo" value="Agregar" onclick="agregarVehiculo()">

  </div>
</div>
