<div class="topnav">
  <div class="padded">
    <div class="container-fluid">

    <div class="row">
      <div class="col-xs-12 col-sm-2 col-md-2">
        <p>ABOUT ME</p>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2">
        <p>POTFOLIO</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 ">
        <img src="../src/assets/doge.png" alt="" class="doge">
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2">
          <p>MY BLOG</p>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2">
        <p>CONTACT ME</p>
      </div>
    </div>
  </div>
</div>
</div>
