<!-- Portfolio Pagina -->
<div class="portfolio">
  <div class="portfolioTitle">
    <h1>Portfolio</h1>
    <hr>
    <p>Fotos de algunos de mis mejores dias</p>
  </div>
  <div class="tags">
    <table>
      <tr>
        <td class="alone"> Filtrar por:</td>

        <td class=tag>Alberca</td>
        <td class=tag>Acapulco</td>
        <td class=tag>Trajineras</td>
        <td class=tag>Tec</td>
        <td class=tag>Prepa</td>
        <td class=tag>Selfie</td>
      </tr>
    </table>
  </div>

  <div class="padded">
    <div class="container.fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="portfolioFoto">
            <img src="clavado.jpg" alt="">
            <p>Acapulco</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="portfolioFoto">
            <img src="prepa.jpg" alt="">
            <p>Graduacion Prepa</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="portfolioFoto">
            <img src="tec.jpg" alt="">
            <p>Fiesta Tec</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="portfolioFoto">
            <img src="corona.jpg" alt="">
            <p>EDC (Major Lazer)</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
