<div class="aboutMe">

      <div class="titleAboutMe">
        <h1>About Me</h1>
        <hr>
        <p>Soy estudiante de ingenieria en sistemas computacionales en el Tec de Monterrey</p>
      </div>

      <div class="padded">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="">
                <img src="movies.png" alt="Películas">
                <h2>Películas</h2>
                <h4>Qué veo?</h4>
                <td>Me encanta el cine! Mi pelicula favorita es "Inception", aunque en si hay tantas peliculas que no podria nombrarlas todas aqui. Lo que si puedo decir es que mi director favorito es David Fincher y Quentin Tarantino.</td>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="">
                <img src="music.png" alt="Musica">
                <h2>Musica</h2>
                <h4>Qué escucho?</h4>
                <td>Puedo escuchar casi de todo, solo la banda es el unico genero musical que no me gusta. Mis bandas favoritas es Muse, Twenty One Pilots y The Beatles. Casi cualquier cancion de los 80s tambien entra entre mis favoritas.</td>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="">
                <img src="game.png" alt="Video Juegos">
                <h2>Video Juegos</h2>
                <h4>Qué juego?</h4>
                <td>A pesar que he jugado en casi todas las consolas mas famosas, siempre he sido fan de nintendo. Mis juegos favoritos son Zelda(Link to the Past), Super Smash Bros (Wii u) y Fallout 4. Me gustan los juegos de accion o rompecabezas, si se pueden los dos juntos mejor.</td>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="">
                <img src="hobbie.png" alt="Hobbies">
                <h2>Hobbies</h2>
                <h4>Qué hago?</h4>
                <td>Ademas de todo lo que ya menciones, tambien hago ejercicio en especial natacion. No soy muy fan de practicar deportes pero podria estar nadando todo el dia</td>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
